{erl_opts, [debug_info]}.
{deps, [
    {hackney, "1.20.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [web_crawler]}
]}.

{dist_node, [
    {setcookie, 'web_crawler'}
]}.

% Release
{relx, [
    {release, {web_crawler, "0.1.0"},
        [web_crawler]
    },
    {extended_start_script, true},
    {include_erts, false},
    {dev_mode, true},
    {overlay_vars, "config/vars"},
    {overlay, [
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
    ]}
]}.